.container {
  flex-direction: column;
  display: flex;
  min-height: calc(100vh);
  width: 100%;
  padding: 20px;
  }
  
  .cards {
    margin-top: 30px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 30px;
    justify-items: center;
    text-transform: capitalize;

  }

  .styles.foundPokemon{
    color: black;
    font-size: 10rem;

  }